<style>

.col-md-6 .panel:hover
{
    box-shadow: 0px 0px 0px 3px #757773, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    margin-bottom: 10px;
}

</style>


<div class="row">
  <br>
<div class="col-lg-3 col-md-6">

  <a href="<%= new_producto_tecnologium_path  %>">
  <div class="panel panel-green"
       style="
       border-radius: 0px;
               background-color: #109e12; color: white">
    <div class="panel-heading">

      <div class="row">
        <div class="col-xs-3">

          <i class="fa fa-desktop fa-5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge">1
            </div>
          <h4>Comprar seguro tecnológico!</h4>
        </div>
      </div>
    </div>


  </div>
  </a>
</div>





<div class="col-lg-3 col-md-6">
  <a href="<%= new_producto_inmueble_path  %>">
    <div class="panel panel-green"
         style="
         border-radius: 0px;
                 background-color: #e3d010; color: white">
      <div class="panel-heading">

        <div class="row">
          <div class="col-xs-3">

            <i class="fa fa-home fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">1
            </div>
            <h4>Comprar seguro de Hogar!</h4>
          </div>
        </div>
      </div>


    </div>
  </a>
</div>





  <div class="col-lg-3 col-md-6">
    <a href="<%= new_producto_persona_path  %>">
      <div class="panel panel-green"
           style="
           border-radius: 0px;
                   background-color: #00a7d1; color: white">
        <div class="panel-heading">

          <div class="row">
            <div class="col-xs-3">

              <i class="fa fa-street-view fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">1
              </div>
              <h4>Comprar seguro para personas!</h4>
            </div>
          </div>
        </div>


      </div>
    </a>
  </div>







  <div class="col-lg-3 col-md-6">
    <a href="<%= new_producto_vehiculo_path  %>">
      <div class="panel panel-green"
           style="
           border-radius: 0px;
                   background-color: #d10b11; color: white">
        <div class="panel-heading">

          <div class="row">
            <div class="col-xs-3">

              <i class="fa fa-bicycle fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">1
              </div>
              <h4>Seguro para vehículos!</h4>
            </div>
          </div>
        </div>


      </div>
    </a>
  </div>




</div>
<div class="row">

  <div class="col-lg-6 col-md-6">

    <a href="<%= new_producto_tecnologium_path  %>">
      <div class="panel panel-green"
           style="
           border-radius: 0px;
                   background-color: #cc7100; color: white">
        <div class="panel-heading">

          <div class="row">
            <div class="col-xs-3">

              <i class="fa fa-cog fa-spin fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">1
              </div>
              <h4>Configuracion de usuarios</h4>
            </div>
          </div>
        </div>


      </div>
    </a>
  </div>

  <div class="col-lg-6 col-md-6">

    <a href="<%= new_informacion_producto_path  %>">
      <div class="panel panel-green"
           style="
           border-radius: 0px;
                   background-color: #9e1e81; color: white">
        <div class="panel-heading">

          <div class="row">
            <div class="col-xs-3">

              <i class="fa fa-plus-square fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">1
              </div>
              <h4>Agregar nuevo PRODUCTO</h4>
            </div>
          </div>
        </div>


      </div>
    </a>
  </div>

</div>

<div class="row">
<br>
<div class="jumbotron">

  <h1>Hola USER!</h1>
  <p>Plataforma de seguros  bla bla bla</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Comprar seguro!</a></p>
</div>
</div>



<div class="row">
  <div class="col-xs-7">

    <div style="float:left;">  <%= image_tag("graph.PNG", :height => '100%', :width => '100%')%></div>

  </div>
  <div class="col-xs-5 ">



    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>


  </div>
</div>
<div class="bs-example">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div  style="background-color:#2b60e5;  padding: 13px;" >
        <h4 class="panel-title"style="color: #e9eeff;">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. What is HTML?</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
        </div>
      </div>
    </div>
    <div class="panel panel-default" >
      <div  style="background-color:#2b60e5; padding: 13px;" >
        <h4 class="panel-title" style="color: #e9eeff;">
          <a  data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. What is Bootstrap?</a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div  style="background-color:#29535f;  padding: 13px;" >
        <h4 class="panel-title"style="color: #e9eeff;">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. What is CSS?</a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc.
            <a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
