<h1>Listing marcas_autos</h1>

<table>
  <thead>
    <tr>
      <th>Marca</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marcas_autos.each do |marcas_auto| %>
      <tr>
        <td><%= marcas_auto.marca %></td>
        <td><%= link_to 'Show', marcas_auto %></td>
        <td><%= link_to 'Edit', edit_marcas_auto_path(marcas_auto) %></td>
        <td><%= link_to 'Destroy', marcas_auto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marcas auto', new_marcas_auto_path %>
